version: '3.9'

services:
  web:
    build: .
    container_name: velib_flask
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/velib_data

  mongo:
    image: mongo:6.0
    container_name: velib_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
