version: '3.8'

services:

  # -----------------------
  # CONFIG SERVERS (replSet cfgRepl)
  # -----------------------
  configsvr:
    image: mongo:7
    command: [
      "mongod",
      "--configsvr",
      "--replSet=cfgRepl",
      "--port=27019",
      "--bind_ip=0.0.0.0"
    ]
    volumes:
      - configdb:/data/configdb

  # -----------------------
  # SHARD 1
  # -----------------------
  shard1:
    image: mongo:7
    command: [
      "mongod",
      "--shardsvr",
      "--replSet=shard1",
      "--port=27018",
      "--bind_ip=0.0.0.0"
    ]
    volumes:
      - shard1:/data/db

  # -----------------------
  # SHARD 2
  # -----------------------
  shard2:
    image: mongo:7
    command: [
      "mongod",
      "--shardsvr",
      "--replSet=shard2",
      "--port=27020",
      "--bind_ip=0.0.0.0"
    ]
    volumes:
      - shard2:/data/db

  # -----------------------
  # MONGOS (router)
  # -----------------------
  mongos:
    image: mongo:7
    depends_on:
      - configsvr
      - shard1
      - shard2
    command: >
      mongos --configdb cfgRepl/configsvr:27019 --bind_ip_all
    ports:
      - "27017:27017"

  # -----------------------
  # INIT SCRIPT
  # -----------------------
  mongo-setup:
    image: mongo:7
    depends_on:
      - mongos
    volumes:
      - ./mongo-init:/mongo-init
    entrypoint: ["/bin/bash", "/mongo-init/mongo-setup.sh"]

volumes:
  configdb:
  shard1:
  shard2:
